@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --tertiary-color:rgb(145, 13, 13);
    --primary-white: white;
}
.main-page{
    background-image: url(/images/careers.jpg);
    min-height: 100vh;
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px;
}
*{margin: 0%;
    padding: 0%;
    box-sizing: border-box;}
nav{
    padding: 24px;
    display: flex;
    align-items:flex-end;
}
nav a{
    font-weight: 800;
    font-size: x-large;
    padding:15px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    color:rgb(4, 4, 85)
}

.main{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 40px;
    flex:auto;
    text-align: center;
	
}  

.descr{
    color: black;
    font-size: 9ch;
    font-weight: 500;
    font-style: italic;
}

.name{
    font-family:"Nunito", sans-serif ;
    color: black;
    font-size:20ch;
    font-weight: 800;
    text-align: center;
    justify-content: center;
}
.info{
    display: flex;
	width: 100%;
    top:50%;
	margin: auto;
	margin-top: 238px;
   
}
.body{
    background-color: black
}

#about h1{
    font-size: 9ch;
    color: white
}
#about p{
    font-size: 5ch;
    color: white;
    word-spacing: 7px;
    letter-spacing: 1px;
}
#testimonies{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 7px;
    min-height:50px;

}
#testimonies p{
    font-style: italic;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 2.2ch;
}
#testimonies h4{
    font-weight: 600;
    font-size: larger;
    letter-spacing: 1px;
}
#testimonies-title{
    font-size: 9ch;
    color: white;
}
#testimonies div{
    border-color: black;
    border-width: 15px;
    border-style: solid;
    border-radius: 40px;
    background-color: rgb(4, 4, 85);
    padding: 5px;
    flex-direction: column;
    display: flex;
    width: 15cm;
    height: 4cm;
}


.dark-mode {
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

li:hover {
    background-color: #ddd;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
